// Jumbotron

.jumbotron {
  padding: 12em 0 10em 0;
  background: url('../img/jumbo.jpg') no-repeat center center;
  background-size: cover;

  h1 {
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  form {
    margin-top: 50px;
  }
}